* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectDescription {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
