:root {
    --purple-01: #4F3559;
    --purple-02: #585191;
    --yellow-01: #f7E003;
    --grey-01: #A9A9A0;
    --grey-02: #96968c;
    --dark-01: #082D0F;
    --dark-02: #0f4e1a;
}


h3 {
    color: var(--purple-01);
}